{% trans_default_domain 'admin' %}

{% if value and (not value.isResolved or showResolved|default(false))%}
	<div class="panel-heading {{ value.votes|length > 0 ? 'body-content' : ''}}" role="tab" id="heading{{value.id}}" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{value.id}}" aria-expanded="true" aria-controls="collapse{{value.id}}">
		{% if value.isAdminContribution %}
			<div class="small-margin">
					{% set title = (value.type == 4) ? ('elements.fields.contributionType_choices.' ~ value.type)|trans({}, 'admin') : ('elements.fields.status_choices.' ~ value.status)|trans({}, 'admin') %}
					<b>{{ title | upper }}</b>
					{{ 'elements.proposedBy'|trans({'%name%': value.getUserDisplayName})|raw }}
					<span class="label label-default">{{ ('elements.fields.userRoles_choices.' ~ value.userRole)|trans({}, 'admin') }}</span>
					<span><i>{{ value.resolvedMessage}}</i><span>
					<div style="float:right">{{ value.updatedAt|date('commons.date_time_format'|trans)}}</div>
			</div>
		{% else %}
			<div class="small-margin">
					<b>{{ ('elements.fields.contributionType_choices.' ~ value.type)|trans({}, 'admin') | upper }}</b>
					<span class="label {{ value.status > 0 ? 'label-success' : value.status == 0 ? 'label-warning' : 'label-danger' }}">{{ ('elements.fields.status_choices.' ~ value.status)|trans({}, 'admin') }}</span>
					{% if value.resolvedMessage %}<span style="padding:0 10px"><i> {{ value.resolvedMessage}} </i></span>{% endif %}
					{% if value.resolvedBy %}<span>(<u>{{value.resolvedBy }}</u>)</span>{% endif %}

					{% if showResolved|default(false) %}
						<div style="float:right">{{ value.updatedAt|date('commons.date_time_format'|trans)}}</div>
					{% endif %}
			</div>

			<div class="small-margin">
				{{ 'elements.proposedBy'|trans({'%name%': value.getUserDisplayName})|raw }}
				<span class="label label-default">{{ ('elements.fields.userRoles_choices.' ~ value.userRole)|trans({}, 'admin') }}</span>
				{{ 'elements.proposedAt'|trans({'%date%': value.createdAt|date('commons.date_time_format'|trans)}) }}
			</div>
		{% endif %}
	</div>

	  {% if value.votes|length > 0 %}
	    <div id="collapse{{value.id}}" class="panel-collapse collapse {{ showResolved|default(false) ? '' : 'in'}}" role="tabpanel" aria-labelledby="heading{{value.id}}">
    		<div class="panel-body" {% if not showResolved|default(false) %}style="border-top: 1px solid #c4c9cc;padding-top: 5px;"{% endif %}>
					<b style="line-height: 3.5rem;">{{ 'sonata.user.user.fields.votes'|trans }}</b>
					{% for key, vote in value.votes %}
							{% if vote.value is defined %}
								{% set labelClass = vote.value >= 0 ? 'label-success' : 'label-danger' %}
								{% include "admin/partials/display_vote_report_item.html.twig" with {'item': vote} %}
							{% endif %}
					{% endfor %}
				</div>
  		</div>
		{% endif %}

{% endif %}

<style>

div.small-margin { margin-bottom:5px; }

</style>

